@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .selected-day {
        @apply bg-indigo-600 text-white relative;
    }
    .locked-day{
        @apply bg-indigo-200 text-indigo-600;
    }
    .time-full{
        @apply blur-sm pointer-events-none
    }
}
.current-day::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    background-color: currentColor;
    bottom: 6px;
}